<link rel="stylesheet" href="/stylesheets/navbar.css" />

<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tracker</a>
    <div class="middle-nav d-flex justify-content-between">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if (user) { %>
        <li class="nav-item ms-5 me-5"><%-include('./userOptions', { user })%></li>
        <% } else { %>
        <li class="nav-item ms-5 me-5"><%-include('./userForms')%></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
