<div class="dropdown">
  <a class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%=user.username%></a>
  <ul class="dropdown-menu">
    <li>
      <form action="/logout" method="POST">
        <button class="dropdown-item">Logout</button>
      </form>
    </li>
  </ul>
</div>
