body {
  background-color: #343b3b;
}

table {
  color: white;
}

.image-cell {
  width: 15%;
}

.item-image {
  width: 40%;
}

.item-link {
  text-decoration: none;
  color: lightcyan;
  font-style: italic;
}

.bi-star {
  color: white;
}

.bi-star:hover {
  color: black;
  /* background-color: yellow; */
}
